
<%= render partial: 'shared/site_header', locals: {name_site_header: 'Создать профиль'} %>
<div class="form-color container">
  <h5 class = "pt-4 pb-4 text-dark"> Введите данные </h5>
  <%= render 'shared/errors', object: @user %>
  <div class = "form-color">
    <%= form_with  model: @user do |form| %>
      <div class="mb-3 mt-3">
        <%= form.text_field :name, placeholder: 'Имя', class: 'form-control'%>
      </div>
      <div class="mb-3 mt-3">
        <%= form.text_field :email, placeholder: 'E-mail', class: 'form-control'%>
      </div>
      <div class="mb-3 mt-3">
        <%= form.password_field :password, placeholder: 'Пароль', class: 'form-control'%>
      </div>
      <div class="mb-3 mt-3">
        <%= form.password_field :password_confirmation, placeholder: 'Повторите пароль', class: 'form-control'%>
      </div>
      <%= form.button 'Отправить', class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
